@using Crypto.Web.Controllers
@model CurrencyListModel

@{var index = 0;}
@{var i = 0;}


<form asp-action="Index" asp-route-minValue="@Model.MinPrice" asp-route-maxValue="@Model.MaxPrice" asp-route-sortColumn="@Model.SortColumn" asp-route-sortDir="@Model.SortDirection" asp-route-currencyName="@Model.CurencyName">
    <div class="card">
        <article class="card-group">
            <header class="card-header">
                <h6>Filter by</h6>
            </header>
            <div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Name</label>
                            <input type="text" name="currencyName" value="@Model.CurencyName" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Minimum price</label>
                            <input type="number" class="form-control" name="minValue" min="0" value="@Model.MinPrice" step="any" oninput="this.value = Math.abs(this.value)" placeholder="0">
                            @if (!@Model.MinPriceIsValid)
                            {
                                <label>Minimum value cannot be higher than maximum value.</label>
                            }
                        </div>
                        <div class="form-group col-md-4">
                            <label>Maximum price</label>
                            <input type="number" class="form-control" name="maxValue" min="0" value="@Model.MaxPrice" step="any" oninput="this.value = Math.abs(this.value)" placeholder="0">
                        </div>
                    </div>
                </div>
                <input type="submit" name="PriceFilter" value="Filter" />
            </div>
        </article>
    </div>
</form>

<div class="container">
    <form asp-action="Favorite">
        <table class="table">
            <thead>
                <tr>
                    <th class="sticky-top">
                        <a>★</a>
                    </th>
                    <th class="sticky-top">
                        <a>#</a>
                    </th>
                    <th class="sticky-top">
                        @Html.ActionLink("Name", "Index", "Home", new { sortColumn = @HomeController.Name, sortDir = Model.SortDirection == string.Empty ? @HomeController.Descending : string.Empty, minValue = Model.MinPrice, maxValue = Model.MaxPrice })
                    </th>
                    <th class="sticky-top">
                        @Html.ActionLink("Price", "Index", "Home", new { sortColumn = @HomeController.Price, sortDir = Model.SortDirection == string.Empty ? @HomeController.Descending : string.Empty, minValue = Model.MinPrice, maxValue = Model.MaxPrice })
                    </th>
                </tr>
            </thead>


            <tbody>
                @foreach (var item in Model.CurrencyList)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(Model => Model.CurrencyList.ToList()[index].Favorite)</td>
                        <td>@(++index)</td>
                        <td>@item.Currency</td>
                        <td>@item.Prices.Last()</td>
                    </tr>
                    @Html.HiddenFor(m => m.CurrencyList)
                }
            </tbody>
        </table>


        <input type="submit" name="PriceFilter" value="Favorites" />
    </form>


    <form asp-action="AddCurrency">
        <div class="form-group">
            <label>Name</label>
            <input name="currencyName" class="form-control" />
        </div>

        <div class="form-group">
            <label>Price</label>
            <input name="currencyPrice" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>


    <form asp-action="CurrencyDelete">
        <table class="table">
            <thead>
                <tr>
                    <th class="sticky-top">
                        <a>#</a>
                    </th>
                    <th class="sticky-top">
                        <p>Name</p>
                    </th>
                    <th class="sticky-top">
                        <p>Price</p>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.NewCurrencies)
                {
                    <tr>

                        <td>@(++i)</td>
                        <td>@item.Currency</td>
                        <td>@item.Prices.Last()</td>
                        <td>@Html.ActionLink("Delete", "CurrencyDelete", new { currencyDelete = item.Currency })</td>

                    </tr>
                    @Html.HiddenFor(m => m.NewCurrencies)
                }
            </tbody>
        </table>


    </form>
</div>